* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer {
  background: #000942;
  width: 100%;
}
.maincontainer .header {
  width: 100%;
  height: 100vh;
  background: #000942;
  padding-left: 11%;
  padding-right: 2%;
  position: relative;
  background-image: url(./Img/Koushik_img.png);
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: 95% 100%;
}
.maincontainer .header .top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 15px;
  border-bottom: 1px solid #bababa;
}
.maincontainer .header .top_nav ul {
  position: fixed;
  z-index: 1;
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
}
.maincontainer .header .top_nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.maincontainer .header .top_nav ul li a {
  position: fixed;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.5s;
  position: relative;
  padding: 0.4rem;
}
.maincontainer .header .top_nav ul li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  transition: all 0.5s linear;
}
.maincontainer .header .top_nav ul li a::before {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 100%;
  background: #e91e63;
  transition: all 0.5s linear;
}
.maincontainer .header .top_nav ul li a:hover::before {
  width: 100%;
}
.maincontainer .header .top_nav ul li a:hover::after {
  width: 100%;
}
.maincontainer .header .top_nav .btn.btn2 {
  background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 500%;
  background-position: 0 40%;
  margin-left: 75rem;
}
.maincontainer .header .top_nav .btn.btn2:hover {
  animation: backcolor 2s linear infinite reverse;
}
.maincontainer .header .side_nav {
  position: fixed;
  left: 0;
  top: -3rem;
  width: 7rem;
  height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
  background-size: 100% 500%;
  background-position: 0 40%;
}
.maincontainer .header .side_nav .logo img {
  width: 6rem;
  cursor: pointer;
}
.maincontainer .header .side_nav .project {
  transform: rotate(-90deg) translateX(50%);
  width: -moz-max-content;
  width: max-content;
}
.maincontainer .header .side_nav .project a {
  text-decoration: none;
  color: #fff;
}
.maincontainer .header .side_nav:hover {
  animation: backcolor 20s linear infinite reverse;
}
.maincontainer .header .front_text {
  margin-top: 20%;
  font-size: 1rem;
  color: #fff;
}
.maincontainer .header .front_text h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #e91e63;
  position: relative;
  animation: h4left 5s;
}
@keyframes h4left {
  from {
    left: -20rem;
  }
  to {
    right: 0;
  }
}
.maincontainer .header .front_text h2 {
  font-weight: 600;
  font-size: 5rem;
}
.maincontainer .header .front_text h3 {
  font-weight: 400;
  font-size: 2rem;
}
.maincontainer .header .front_text p {
  font-weight: 200;
  font-size: 1rem;
}
.maincontainer .header .for_small img {
  display: none;
}
@keyframes backcolor {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 100%;
  }
}
.maincontainer .about_me {
  height: 45rem;
  width: 100%;
  background: #000942;
  display: flex;
  justify-content: space-between;
}
.maincontainer .about_me .my_img {
  top: 8rem;
  height: 30rem;
  width: 27rem;
  background: rgb(255, 222, 8);
  border: 0.3rem solid #fff;
  position: relative;
  left: 14rem;
}
.maincontainer .about_me .my_img img {
  height: 29.5rem;
  width: 26.5rem;
}
.maincontainer .about_me .somethin_about_me {
  top: 5rem;
  height: 30rem;
  width: 30rem;
  position: relative;
  right: 15rem;
}
.maincontainer .about_me .somethin_about_me h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 2rem;
}
.maincontainer .about_me .somethin_about_me h2::after {
  content: " ";
  width: 45%;
  height: 2px;
  background: #e91e63;
  position: absolute;
  top: 3.2rem;
  left: 0;
}
.maincontainer .about_me .somethin_about_me p {
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  word-spacing: 0.2rem;
}
.maincontainer .about_me .somethin_about_me p span {
  color: #ffea00;
}
.maincontainer .about_me .somethin_about_me p span:hover {
  color: #e91e63;
}
.maincontainer .about_me .somethin_about_me .recent ul {
  margin-top: 1rem;
}
.maincontainer .about_me .somethin_about_me .recent ul span {
  margin-left: 1.2rem;
  color: #e91e63;
}
.maincontainer .about_me .somethin_about_me .recent ul li {
  line-height: 2rem;
  margin-left: 1.2rem;
  list-style: none;
  color: #fff;
}
.maincontainer .skill {
  background: #000942;
  width: 100%;
  height: 360vh;
}
.maincontainer .skill h2 {
  font-size: 2rem;
  margin-left: 50rem;
  color: #fff;
}
.maincontainer .skill .timeline {
  position: relative;
  margin-left: 20rem;
  max-width: 120rem;
}
.maincontainer .skill .timeline .left-container {
  left: 8rem;
}
.maincontainer .skill .timeline .right-container {
  left: 40.5%;
}
.maincontainer .skill .timeline .container {
  margin-top: 2rem;
  padding: 1rem 5rem;
  position: relative;
  width: 27rem;
  max-width: 100rem;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
.maincontainer .skill .timeline .container .text-box1 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box1 h1 {
  font-size: 2.5rem;
  position: relative;
  left: 2.5rem;
}
.maincontainer .skill .timeline .container .text-box1 img {
  position: relative;
  left: -2rem;
  height: 15rem;
  width: 15rem;
}
.maincontainer .skill .timeline .container .text-box1 .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid #fff;
  right: -2.5rem;
}
.maincontainer .skill .timeline .container .text-box2 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box2 h1 {
  font-size: 2.5rem;
  position: relative;
  left: 35%;
}
.maincontainer .skill .timeline .container .text-box2 img {
  height: 15rem;
  width: 15rem;
  left: -2rem;
  position: relative;
}
.maincontainer .skill .timeline .container .text-box2 .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-right: 2.5rem solid #fff;
  left: -2.5rem;
}
.maincontainer .skill .timeline .container .text-box3 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box3 h1 {
  font-size: 2.2rem;
  position: relative;
  left: 0.9rem;
}
.maincontainer .skill .timeline .container .text-box3 img {
  height: 15rem;
  width: 15rem;
  left: -2rem;
  position: relative;
}
.maincontainer .skill .timeline .container .text-box3 .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid #fff;
  right: -2.5rem;
}
.maincontainer .skill .timeline .container .text-box4 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box4 h1 {
  font-size: 2.5rem;
  position: relative;
  left: 30%;
}
.maincontainer .skill .timeline .container .text-box4 img {
  height: 15rem;
  width: 15rem;
  left: -2rem;
  position: relative;
}
.maincontainer .skill .timeline .container .text-box4 .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-right: 2.5rem solid #fff;
  left: -2.5rem;
}
.maincontainer .skill .timeline .container .text-box5 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box5 h1 {
  font-size: 3rem;
  position: relative;
  left: 35%;
}
.maincontainer .skill .timeline .container .text-box5 img {
  height: 15rem;
  width: 15rem;
  left: -2rem;
  position: relative;
}
.maincontainer .skill .timeline .container .text-box5 .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid #fff;
  right: -2.5rem;
}
.maincontainer .skill .timeline .container .text-box6 {
  padding: 2rem 3rem;
  background: #fff;
  position: relative;
  border-radius: 0.6rem;
  font-size: 15px;
}
.maincontainer .skill .timeline .container .text-box6 h1 {
  font-size: 2rem;
  position: relative;
  left: 1rem;
}
.maincontainer .skill .timeline .container .text-box6 img {
  height: 15rem;
  width: 15rem;
  left: -2rem;
  position: relative;
}
.maincontainer .skill .timeline .container .text-box6 .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 9rem;
  z-index: 1;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-right: 2.5rem solid #fff;
  left: -2.5rem;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.maincontainer .skill .timeline .container:nth-child(1) {
  animation-delay: 0s;
}
.maincontainer .skill .timeline .container:nth-child(2) {
  animation-delay: 2s;
}
.maincontainer .skill .timeline .container:nth-child(3) {
  animation-delay: 3s;
}
.maincontainer .skill .timeline .container:nth-child(4) {
  animation-delay: 5s;
}
.maincontainer .skill .timeline .container:nth-child(5) {
  animation-delay: 7s;
}
.maincontainer .skill .timeline .container:nth-child(6) {
  animation-delay: 9s;
}
.maincontainer .skill .timeline::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 100%;
  background: #fff;
  top: 1rem;
  left: 36.8%;
  margin-left: 5rem;
  z-index: 1;
  animation: moveline 10s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.maincontainer #contact {
  background: #000942;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.maincontainer #contact .container {
  margin-left: 18rem;
}
.maincontainer #contact .container .row {
  display: flex;
}
.maincontainer #contact .container .row .contact-left {
  flex-basis: 35%;
}
.maincontainer #contact .container .row .contact-left h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.maincontainer #contact .container .row .contact-left h1::before {
  content: "";
  background-color: #fff;
  width: 45%;
  height: 2px;
  z-index: -1;
}
.maincontainer #contact .container .row .contact-left p {
  color: #fff;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.maincontainer #contact .container .row .contact-left p i {
  color: #e91e63;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.maincontainer #contact .container .row .contact-left .social-icons {
  margin-top: 3rem;
}
.maincontainer #contact .container .row .contact-left .social-icons a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: #fff;
  display: inline-block;
  transition: transform 1.5s;
}
.maincontainer #contact .container .row .contact-left .social-icons a:hover {
  color: #e91e63;
  transform: rotate(360deg);
}
.maincontainer #contact .container .row .contact-right {
  flex-basis: 60%;
}
.maincontainer #contact .container .row .contact-right form {
  width: 100%;
  margin-top: 3rem;
}
.maincontainer #contact .container .row .contact-right form input, .maincontainer #contact .container .row .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #cbccd1;
  border-radius: 0.3rem;
  padding: 1.5rem;
  margin: 0.5rem 0;
  color: #000942;
  font-size: 1.2rem;
}
.maincontainer #contact .container .row .contact-right form button {
  background: #e91e63;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.maincontainer #contact .container .row .contact-right form #success {
  overflow: hidden;
  position: relative;
  top: -12rem;
  left: 13rem;
  color: #000942;
  font-size: 1.5rem;
}
.maincontainer #footer {
  background: #010d5b;
  width: 100%;
  height: 7vh;
}
.maincontainer #footer .copyright {
  margin-left: 48%;
}
.maincontainer #footer .copyright p {
  color: #fff;
  padding-top: 1rem;
}

@media only screen and (max-width: 360px) {
  .maincontainer {
    width: 100%;
    overflow: hidden;
  }
  .maincontainer .header {
    height: 55rem;
    top: -3.9rem;
    background: #000942;
  }
  .maincontainer .header .top_nav {
    background: #000942;
    display: none;
  }
  .maincontainer .header .side_nav {
    display: none;
  }
  .maincontainer .header .front_text h4 {
    top: 2.5rem;
    font-size: 1.5rem;
  }
  .maincontainer .header .front_text h2 {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 3rem;
  }
  .maincontainer .header .front_text h3 {
    margin-top: 1rem;
    font-weight: 200;
    font-size: 1.5rem;
  }
  .maincontainer .header .front_text p {
    font-weight: 400;
    font-size: 1rem;
  }
  .maincontainer .header .for_small img {
    display: flex;
    height: 15rem;
    position: relative;
    top: 5rem;
  }
  .maincontainer .about_me {
    height: 35rem;
    top: -15rem;
    position: relative;
    padding: 0 1rem;
  }
  .maincontainer .about_me .my_img {
    display: none;
  }
  .maincontainer .about_me .somethin_about_me {
    left: 2.5rem;
  }
  .maincontainer .about_me .somethin_about_me h2 {
    font-size: 2rem;
  }
  .maincontainer .about_me .somethin_about_me h2::after {
    content: " ";
    width: 41%;
    top: 2.5rem;
  }
  .maincontainer .about_me .somethin_about_me p {
    font-size: 0.9rem;
    word-spacing: 0.2rem;
    padding: 0 2rem 0 0;
  }
  .maincontainer .skill {
    height: 200vh;
  }
  .maincontainer .skill h2 {
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: -15rem;
  }
  .maincontainer .skill .timeline {
    position: relative;
    margin-left: 4.4rem;
  }
  .maincontainer .skill .timeline .left-container {
    left: -5.3rem;
  }
  .maincontainer .skill .timeline .right-container {
    left: -5.3rem;
  }
  .maincontainer .skill .timeline .container {
    position: relative;
    width: 20rem;
  }
  .maincontainer .skill .timeline .container .text-box1 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box1 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box1 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box1 .left-container-arrow {
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    border-left: 0;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline .container .text-box2 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box2 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box2 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box2 .right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline .container .text-box3 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box3 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box3 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box3 .left-container-arrow {
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    border-left: 0;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline .container .text-box4 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box4 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box4 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box4 .right-container-arrow {
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline .container .text-box5 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box5 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box5 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box5 .left-container-arrow {
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    border-left: 0;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline .container .text-box6 {
    position: relative;
    padding: 2rem 3rem;
    font-size: 15px;
    height: 10rem;
  }
  .maincontainer .skill .timeline .container .text-box6 h1 {
    top: -1rem;
    font-size: 1rem;
    position: relative;
    left: 0.5rem;
  }
  .maincontainer .skill .timeline .container .text-box6 img {
    left: -2rem;
    height: 5rem;
    width: 8rem;
  }
  .maincontainer .skill .timeline .container .text-box6 .right-container-arrow {
    top: 3rem;
    z-index: 1;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid #fff;
    left: -1.5rem;
  }
  .maincontainer .skill .timeline::after {
    content: "";
    top: 1rem;
    height: 161vh;
    background: #fff;
    margin-left: -9rem;
    z-index: 1;
    animation: moveline 10s linear forwards;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .maincontainer #contact {
    overflow: hidden;
    height: 105vh;
  }
  .maincontainer #contact .container {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .maincontainer #contact .container .row {
    display: flex;
    flex-direction: column;
  }
  .maincontainer #contact .container .row .contact-left h1 {
    font-size: 2.5rem;
  }
  .maincontainer #contact .container .row .contact-left p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .maincontainer #contact .container .row .contact-left p i {
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .maincontainer #contact .container .row .contact-right {
    padding: 0 2rem 0 0;
  }
  .maincontainer #contact .container .row .contact-right form input, .maincontainer #contact .container .row .contact-right form textarea {
    border-radius: 0.3rem;
    padding: 1.5rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }
  .maincontainer #contact .container .row .contact-right form button {
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    margin-left: 0rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .maincontainer #contact .container .row .contact-right form #success {
    overflow: hidden;
    position: relative;
    top: -10rem;
    left: 15%;
    color: #000942;
    font-size: 1rem;
  }
  .maincontainer #footer {
    position: relative;
  }
  .maincontainer #footer .copyright {
    margin-left: 5%;
  }
  .maincontainer #footer .copyright p {
    padding-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */